@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-div {
    overflow-x: auto; /* affiche la barre de défilement horizontale */
    overflow-y: hidden; /* masque la barre de défilement verticale */
    white-space: nowrap; /* empêche le retour à la ligne du contenu */
  }
  